@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    background: transparent; /* Cambia el color de fondo según tus preferencias */
    z-index: 1000;
    color: white;
    overflow-y: auto;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    font-family: 'Poppins', sans-serif; /* Agrega esta línea para cambiar la fuente */
    padding: 1.15rem 1.5rem;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
}

.sidebar-item {
    margin-bottom: 20px; 
}

.sidebar-item a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar-item i {
    margin-right: 10px;
    padding: 1.15rem 1.5rem;
}

.container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.navbar {
    background: transparent!important;
    padding: 10px; 
}

.navbar-brand {
    font-size: 1.5rem; 
    text-decoration: none; 
    color: white; 
}

.navbar-brand i {
    margin-right: 10px; 
}

.navbar-nav {
    list-style: none; 
    padding: 0; 
}

.nav-item {
    margin-right: 15px; 
}

.nav-link {
    text-decoration: none; 
    color: white; 
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #ffffff, #ffffff);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
}

.carousel-item img {
    max-height: 100%;
    width: auto;
    margin: 0 auto; 
}

h3 {
    font-size: 1.2375rem;
    color: #4c00ff;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar.collapsed {
    margin-left: -264px;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #4526f1;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    padding : 0;
}

.sidebar-header {
    color: #000000;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #2c4763;
    position: relative; 
    display: flex;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link {
    color: #2c4763; /* Cambia el color de texto según tus preferencias */
}

.sidebar-link-2 {
    left: 15px; /* Ajusta la posición izquierda según tus necesidades */
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

.section-content {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

@media (min-width:1025px) {
    .content {
        width: auto;
    }
}
